[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/goeun7378/likelion/Toyproject/venv/bin/uwsgi -i /home/goeun7378/likelion/Toyproject/.config/uwsgi/uwsgiconfig.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
